<div class="container">
    <h1>My Diarys</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let diary of diarys;let i = index'>
          <div>
            <h4 id={{i}} appStrikethrough>{{diary.name}} due on {{diary.completeDate|date|uppercase}}</h4>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
  
          <div *ngIf='diary.showDescription'>
            <app-diary-detail  [diary]='diary' (isComplete) = 'deleteDiary($event,i)'></app-diary-detail>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin-top:20px">
        <app-diary-form (addDiary)="addNewDiary($event)"></app-diary-form>
</div>
</div>
<p *ngIf='diarys.length > 5'>You have too many diarys</p>
</div>